body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: "nav todo"
        "nav display";
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.todo {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    display: flex;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}

.name {
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    grid-area: todo;
    padding-top: 20px;
}


.nav {
    grid-area: nav;
    background-color: #40bcd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    gap: 10px;
    padding-top: 30px;
    min-width: 120px;
}

.mobHome:hover,
.mob-to-do:hover,
.mob-folders:hover {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    cursor: pointer;
}

.home:hover,
.folders:hover,
.to-do:hover {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    cursor: pointer;
}

.menu:hover {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    cursor: pointer;
}

.nav-cont {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    gap: 40px;
}

.home,
.folders,
.to-do {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home {
    cursor: pointer;
}

.folders {
    cursor: pointer;
}

.to-do {
    cursor: pointer;
}


.display {
    grid-area: display;
}

.mobileModal{
    padding: 20px;
    display: flex;
    gap:20px;
    flex-direction: column;
    margin-top: 50px;
}

.mobileModalContainer {
    position: fixed;
    top: 0;
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 1000;
    overflow-y: auto;
    height: 100vh;
    min-width: 200px;
    background-color: #40bcd8;
}

.mob-nameList {
    font-size: 20px;
}

.mobHome,
.mob-to-do,
.mob-folders{
    display: flex;
    gap: 10px;
}

@media (min-width: 280px) and (max-width:790px) {
    .name {
        font-size: 25px;
    }

    .menu {
        display: block;
        margin-top: 20px;
    }

    .nav {
        display: none;
    }

    .container {
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 8fr;
        grid-template-areas: "todo"
            "display";
    }

}